{% extends 'base.twig' %}
{% block title %}Placeholder{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/articleCard.css">
{% endblock %}
{% block content %}
    {% for content in contents %}
        <article class="article-card">
            <div class="img-container">
                <a href="/article/{{ content.getArticle().getId() }}">
                    <img src="https://placehold.co/250" alt="">
                </a>
            </div>
            <div class="content-container">
                <div class="content">
                    <a class="link" href="/article/{{ content.getArticle().getId() }}">
                        <h2>{{ content.getArticle().getTitle()|capitalize }}</h2>
                    </a>
                    <p class="preview">
                        {{ content.getArticle().getBody()|slice(0,50)|capitalize }}...
                    </p>
                </div>
                <div class="content">
                    <span class="constant-grey">Written by:</span>
                    <a class="link" href="/user/{{ content.getUser().getId() }}">
                        <img src="https://placehold.co/40" alt="">
                        {{ content.getUser().getUserName() }}
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}