<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Placeholder Page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/userPage.css">
</head>
<body>
<header class="header-container">
    <a class="header-title" href="/">Placeholder</a>
</header>
<div class="layout">
    <div class="user-card">
        <img class="user-image" src="https://placehold.co/150" alt="">
        <div class="content">
            <span class="constant-grey">
                Name:
            </span>
            <span class="user-info">
                {{ user.getName() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Username:
            </span>
            <span class="user-info">
                {{ user.getUserName() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Email:
            </span>
            <span class="user-info">
                {{ user.getEmail() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Address:
            </span>
            <span class="user-info">
                {{ user.getAddress().getCity() }}<br>
                {{ user.getAddress().getStreet() }}<br>
                {{ user.getAddress().getSuite() }}<br>
                {{ user.getAddress().getZipCode() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Phone:
            </span>
            <span class="user-info">
                {{ user.getPhone() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Website:
            </span>
            <span class="user-info">
                {{ user.getWebsite() }}
            </span>
        </div>
        <div class="content">
            <span class="constant-grey">
                Company:
            </span>
            <span class="user-info">
                <span class="constant-grey">Name:</span>
                {{ user.getCompany().getName() }}<br>
                <span class="constant-grey">Catch Phrase:</span>
                {{ user.getCompany().getCatchPhrase() }}<br>
                <span class="constant-grey">Business Services:</span>
                {{ user.getCompany().getBusinessServices()|capitalize }}
            </span>
        </div>
    </div>
</div>
<div class="partition">
    <h2>User Posts:</h2>
</div>
<main class="layout">
    {% for article in userArticles %}
        <article class="article-card">
            <div class="img-container">
                <a href="/article/{{ article.getId() }}">
                    <img src="https://placehold.co/200" alt="">
                </a>
            </div>
            <div class="content-container">
                <div class="content">
                    <a class="link" href="/article/{{ article.getId() }}">
                        <h2>{{ article.getTitle()|capitalize }}</h2>
                    </a>
                    <p class="preview">
                        {{ article.getBody()|slice(0, 75)|capitalize }}...
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
</main>
</body>
</html>